{% extends 'base.html' %}

{% block content %}
<style>
.job-listings {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.job-posting {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.job-posting:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.job-title {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 10px;
}

.job-details p {
    margin: 8px 0;
    color: #555;
}
img{
    width: 1200px;
    height: 450px;
}
</style>
{% if user.is_authenticated %}
    <div class="job-listings">
        {% for job_posting in job_postings %}
            <div class="job-posting">
                <h2 class="job-title">{{ job_posting.title }}</h2>
                <div class="job-details">
                    <p><strong>Location:</strong> {{ job_posting.location }}</p>
                    <p><strong>Description:</strong> {{ job_posting.description }}</p>
                    <p><strong>Salary:</strong> {{ job_posting.salary }}</p>
                    <p><strong>Job Type:</strong> {{ job_posting.job_type }}</p>
                    <p><strong>Interview Date:</strong> {{ job_posting.Interview_date }}</p>
                    <p><strong>Skills Required:</strong> {{ job_posting.skills_required }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% else %}
<div class="job-listings">
    <img src="static/15-Job-Board-Alternatives-to-Indeed.png">
</div>
{% endif %}
{% endblock %}
